<link rel="stylesheet" type="text/css" href="/css/style.css" />
<div id="first">
<ul>
  <li><%- link_to("Home", '/feed/'+email+'/'+userName) %></li>
  <li><%- link_to("My Profile", '/profile/'+email+'/'+userName) %></li>
  <li><%- link_to("View Friends", '/friends/'+email+'/'+userName) %></li>
   <li><a href="/all">View Everyone</a></li>
   <li><%- link_to("View Suggestions", '/suggestions/'+email+'/'+userName) %></li>
    <li><%- link_to("Settings", '/settings/'+email+'/'+userName) %></li>
   <li><a href="/logout">Logout</a></li>
   </ul>
<h1>Welcome <%= personName %>! </h1>
 </div>

<div id="nav">
<form method="post">
  <p>Add Post<br>
  <textarea name="text"></textarea></p>
  <p><input type="submit">
  </form>
<div id="nav2"></div>

  <% for(var i=0; i < homePosts.length; i++) {%>
  <div id="array-index-<%= i %>"><%= homePosts[i].personName %> posted: <%=  homePosts[i].text %></div>
<% } %></p>


</div>