<link rel="stylesheet" type="text/css" href="/css/style.css" />
<div id="first">
<ul>
  <li><%- link_to("Home", '/feed/'+email+'/'+userName) %></li>
  <li><%- link_to("My Profile", '/profile/'+email+'/'+userName) %></li>
  <li><%- link_to("View Friends", '/friends/'+email+'/'+userName) %></li>
   <li><%- link_to("View Everyone", '/all/'+email+'/'+userName) %></li>
   <li><%- link_to("View People with Friends in Common", '/suggestions/'+email+'/'+userName) %></li>
         <li><%- link_to("View People with Similar Interests", '/similar/'+email+'/'+userName) %></li>
    <li><%- link_to("Settings", '/settings/'+email+'/'+personName) %></li>
   <li><a href="/logout">Logout</a></li>
   </ul>
<h1><%= personName %></h1>
 </div>

<div id="nav">
<% if (personEmailName == email) {%>
<div id="nav2"></div>
<form method="post">
  <p>Add Post<br>
  <textarea name="text"></textarea></p>
  <p><input type="submit">
  <% for(var i=0; i < myPosts.length; i++) {%>
  <div id="array-index-<%= i %>"><%= personName %> posted: <%=  myPosts[i].text %></div>
<% } %></p>
</form>
<br>
<p>My Interests:
  <% for(var i=0; i < myInterests.length; i++) {%>
  <div id="array-index-<%= i %>"><%= myInterests[i] %></div>
<% } %></p>
<br>
<p>My Friends:
<% for(var i=0; i < usersFriends.length; i++) {%>
  <div id="array-index-<%= i %>"><%- link_to(usersFriends[i].personName, '/profile/'+usersFriends[i].email+'/'+usersFriends[i].personName) %></div>
<% } %></p>
<% } else if (!isFriends) {%>
    <form action = "" method = "post">
        <input type="submit" name="addfriend" value="Add Friend" />
    </form>
    <p><%= personName %>'s Friends<br>
    <% for(var i=0; i < profileFriends.length; i++) {%>
  <div id="array-index-<%= i %>"><%- link_to(profileFriends[i].personName, '/profile/'+profileFriends[i].email+'/'+profileFriends[i].personName) %></div>
<% } %></p>
<% } else { %>
<form action = "" method = "post">
        <input type="submit" name="deletefriend" value="Delete Friend" />
    </form>
    <% for(var i=0; i < myPosts.length; i++) {%>
  <div id="array-index-<%= i %>"><%= personName %> posted: <%=  myPosts[i].text %></div>
<% } %>
<br>

<p><%= personName %>'s Interests:
  <% for(var i=0; i < friendsInterests.length; i++) {%>
  <div id="array-index-<%= i %>"><%= friendsInterests[i] %></div>
<% } %></p>


<br>
<p><%= personName %>'s Friends:
<% for(var i=0; i < profileFriends.length; i++) {%>
  <div id="array-index-<%= i %>"><%- link_to(profileFriends[i].personName, '/profile/'+profileFriends[i].email+'/'+profileFriends[i].personName) %></div>
<% } %></p>
<% } %>
</div>